*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

.wrapper > .card{
    height: 520px;
    width: 360px;
    background: linear-gradient(#a1a1a1, #f2f2f2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    
   
}

.profile{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu{
    font-size: 2rem;
    font-weight: bold;
}

.card-image{
    height: 290px;
    width: 100%;
    background-color: #fff;
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-reaction{
        display: flex;
        width: 100%;
        gap: 0.8rem;
        
}

.heart, .comment{
    margin-top: 1rem;
    
}
.heart{
    margin-left: 1rem;
}

.comment
{
 width: 22px;
 height: 22px;
}

.text-description{
    text-align: justify;
    padding: .5rem;
}

@media screen and (max-width: 1024px){
    .wrapper{
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        height: auto;
      
        align-content: normal ;
        margin-top: 2rem;

        }
        
  
    
    .wrapper::after{
        content: "";
        height: 520px;
        width: 360px;
        background: linear-gradient(#a1a1a1, #f2f2f2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        visibility: hidden;
    }

    
}



@media screen and (max-width: 735px){

    .wrapper{
        flex-direction: column;
    }
    .wrapper::after{
        content: "";
        display: none;
    }
    
}

